@use '../../../styles/variables'
@use '../../../styles/mixins'

nav
  @include mixins.absolute-t0
  width: variables.$body-width
  padding: 2rem
  font-size: variables.$title-size
  
  ul
    @include mixins.flex-between
    list-style: none

    a
      text-decoration: none
      transition: variables.$trans-3s
    
      &:hover
        color: variables.$text-second-color
        font-weight: bold