@use 'variables'
  
*
  padding: 0
  margin: 0
  font-family: variables.$font-abel
  color: variables.$text-primary-color
  box-sizing: border-box

body
  background-image: variables.$bg-image
  background-size: cover
  background-repeat: no-repeat