$font-abel: "Abel"

$bg-image: url('../assets/bg.jpg')
$bg-gradient: linear-gradient(180deg, #010101 7.83%, rgba(30, 30, 30, 0.3) 28.65%, rgba(217, 217, 217, 0) 51.04%, rgba(30, 30, 30, 0.3) 71.35%, #010101 90.86%)

$text-primary-color: #fff
$text-second-color: #C90101
$title-size: 1.6rem

$body-width: 80%

$trans-3s: color 0.3s ease-in-out