@use '../../styles/variables'
@use '../../styles/mixins'

.home-container
  position: relative
  @include mixins.flex-center
  @include mixins.w-h-100
  flex-direction: column
  padding-top: 5rem

  .slogan-container
    @include mixins.flex-center
    @include mixins.w-h-100
    flex-direction: column
    padding: 2.4rem
  