@use '../../styles/variables'
@use '../../styles/mixins'

.home-container
  @include mixins.absolute-t0-r0
  @include mixins.flex-center
  @include mixins.w-h-100
  flex-direction: column
  padding-top: 5rem

  .slogan-container
    @include mixins.flex-center
    flex-direction: column
  