@use '../../../styles/variables'

.social-networks
  position: absolute
  bottom: 0

  display: flex
  justify-content: right
  align-items: center

  width: variables.$body-width
  font-size: 1.5rem
  
  a
    padding: 1rem